.box {
   margin: 0%;
   flex: auto;
   border: 0.2vh black solid;
   box-sizing: border-box;
   width: 6.25%;
   height: 6.25%;
}

.box-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex: auto;
}

html, body, .container {min-height: 100%;}

body, .box-container {height: 100vh;}

body {
   margin: 0%;
}